<ul id="contact-links">
  <li><a href="https://twitter.com/aminize" rel="me" target="_blank"><i class="fa fa-twitter fa fa-4x">&nbsp;</i><br />Twitter</a></li>
  <li><a href="https://www.facebook.com/amin.abbaspour" rel="me" target="_blank"><i class="fa fa-facebook fa fa-4x">&nbsp;</i><br />Facebook</a></li>
  <li><a href="https://au.linkedin.com/in/abbaspour" rel="me" target="_blank" data-proofer-ignore="true"><i class="fa fa-linkedin fa fa-4x">&nbsp;</i><br />
  LinkedIn</a></li>
  <li><a href="https://plus.google.com/+AminAbbaspour" rel="me" target="_blank"><i class="fa fa-google-plus fa fa-4x">&nbsp;</i><br />
  Google</a></li>
  <li><a href="https://github.com/abbaspour" rel="me" target="_blank"><i class="fa fa-github fa fa-4x">&nbsp;</i><br />
  GitHub</a></li>
  <li><a href="https://bitbucket.org/amin" rel="me" target="_blank"><i class="fa fa-bitbucket fa fa-4x">&nbsp;</i><br />
  BitBucket</a></li>
</ul>
